﻿@{
    ViewData["Title"] = "Home Page";
}


<section role="main" class="content-body">
    <header class="page-header">
        <h2>Dashboard</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Dashboard</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>
    <div class="row">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <a href="#" class="fa fa-times"></a>
                </div>

                <h2 class="panel-title">Dashboard</h2>
                <p class="panel-subtitle">General Analystics of data in the Timesheet MIS</p>
            </header>
            <div class="panel-body"  style="height: 580px">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="chart-data-selector" id="salesSelectorWrapper">
                            <div>
                                <b>Select Department:</b>
                                <strong>
                                    <select class="form-control" id="salesSelector">
                                        <option value="JSOFT Admin" selected>MIS</option>
                                        <option value="JSOFT Drupal">Operations</option>
                                        <option value="JSOFT Wordpress">Business Strategy</option>
                                    </select>
                                </strong>
                            </div>

                            <div id="salesSelectorItems" class="chart-data-selector-items mt-sm">
                                <!-- Flot: Sales JSOFT Admin -->
                                <div class="chart chart-lg chart-active" data-sales-rel="JSOFT Admin" id="flotDashSales1"></div>
                                <script>

                                    var flotDashSales1Data = [{
                                        data: [
                                            ["Jan", 140],
                                            ["Feb", 240],
                                            ["Mar", 190],
                                            ["Apr", 140],
                                            ["May", 180],
                                            ["Jun", 320],
                                            ["Jul", 270],
                                            ["Aug", 180],
                                            ["Sep", 150],
                                            ["Oct", 280],
                                            ["Nov", 120],
                                            ["Dec", 80]
                                        ],
                                        color: "#0088cc"
                                    }];

                                    // See: assets/javascripts/dashboard/examples.dashboard.js for more settings.

                                </script>

                                <!-- Flot: Sales JSOFT Drupal -->
                                <div class="chart chart-lg chart-hidden" data-sales-rel="JSOFT Drupal" id="flotDashSales2"></div>
                                <script>

                                    var flotDashSales2Data = [{
                                        data: [
                                            ["Jan", 240],
                                            ["Feb", 240],
                                            ["Mar", 290],
                                            ["Apr", 540],
                                            ["May", 480],
                                            ["Jun", 220],
                                            ["Jul", 170],
                                            ["Aug", 190],
                                            ["Sep", 150],
                                            ["Oct", 280],
                                            ["Nov", 120],
                                            ["Dec", 80]
                                        ],
                                        color: "#2baab1"
                                    }];

                                    // See: assets/javascripts/dashboard/examples.dashboard.js for more settings.

                                </script>

                                <!-- Flot: Sales JSOFT Wordpress -->
                                <div class="chart chart-lg" data-sales-rel="JSOFT Wordpress" id="flotDashSales3" class="chart-hidden"></div>
                                <script>

                                    var flotDashSales3Data = [{
                                        data: [
                                            ["Jan", 840],
                                            ["Feb", 740],
                                            ["Mar", 690],
                                            ["Apr", 940],
                                            ["May", 1180],
                                            ["Jun", 820],
                                            ["Jul", 570],
                                            ["Aug", 780]
                                        ],
                                        color: "#734ba9"
                                    }];

                                                                                                                                                // See: assets/javascripts/dashboard/examples.dashboard.js for more settings.

                                </script>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
    </div>
</section>
