﻿@model DP_TIMESHEET_MIS.Models.ViewModels.Home.MainViewModel

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Timesheet</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Report</span></li>
                <li><span>Generate Report</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title">Generate Report</h2>
                    <p class="panel-subtitle">
                        Please supply filter parameters.
                    </p>
                </header>
                <div class="panel-body">
                    <form class="form-inline">
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputPassword2"> Report Name</label>
                            <select id="company" class="form-control" required="">
                                <option value="">Select Report</option>
                                <option value="apple">Daily Report</option>
                                <option value="google">Monthly Report</option>
                                <option value="google">Annual Report</option>
                                <option value="google">Consultant Level Report</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputPassword2"> Period</label>
                            <select id="company" class="form-control" required="">
                                <option value="">Select Period</option>
                                <option value="apple">October 2018 - November 2018</option>
                                <option value="google">November 2018 - December 2018</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="sr-only" for="exampleInputPassword2"> Period</label>
                            <select id="company" class="form-control" required="">
                                <option value="">Select Consultant</option>
                                <option value="apple">Danet Opot</option>
                                <option value="google">Boniface Kibicho</option>
                            </select>
                        </div>

                        <div class="visible-sm clearfix mt-sm mb-sm"></div>

                        <div class="clearfix visible-xs mb-sm"></div>

                        <button type="submit" class="btn btn-primary">Go! &nbsp;<i class="fa fa-play"></i></button>
                        <button type="reset" class="btn btn-default">Reset &nbsp;<i class="fa fa-refresh"></i></button>
                    </form>

                    <hr />
                    <br /><br />
                    <div>
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <strong>Report Generation Successful!</strong> Access your reports from the download folder of your machine..
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>


