﻿
@{
    ViewData["Title"] = "System Settings";
}

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Configuration</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Configuration</span></li>
                <li><span>System Settings</span></li>
            </ol>


            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>




    <div class="row">
        <div class="col-md-12">
            <div class="panel-group" id="accordion">
                <div class="panel panel-accordion">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1One">
                                Configure Countries
                            </a>
                        </h4>
                    </div>
                    <div id="collapse1One" class="accordion-body collapse in">
                        <div class="panel-body">
                            Configure Countries
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-accordion">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1Two">
                            Configure Projects
                        </a>
                    </h4>
                </div>
                <div id="collapse1Two" class="accordion-body collapse">
                    <div class="panel-body">
                        Configure Projects
                    </div>
                </div>
            </div>
            <div class="panel panel-accordion">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1Three">
                            Configure Work Types
                        </a>
                    </h4>
                </div>
                <div id="collapse1Three" class="accordion-body collapse">
                    <div class="panel-body">
                        Configure Work Types
                    </div>
                </div>
            </div>
            <div class="panel panel-accordion">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1Four">
                            Configure Supervisors
                        </a>
                    </h4>
                </div>
                <div id="collapse1Four" class="accordion-body collapse">
                    <div class="panel-body">
                        Configure Supervisors
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



