﻿@*@model IEnumerable<DP_TIMESHEET_MIS.Models.TimeSheetDetailModel>*@
@model DP_TIMESHEET_MIS.Models.ViewModels.Timesheet.ApproveTimesheetViewModel
@{
    ViewData["Title"] = "Approve Timesheet";
}


<section role="main" class="content-body">
    <header class="page-header">
        <h2>Timesheet</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Timesheet</span></li>
                <li><span>Approve</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title">Approve Timesheet</h2>
                    <p class="panel-subtitle">
                        Please approve or reject the open timesheet.
                    </p>
                </header>
                <div class="panel-body">
                    <div>
                        <div class="alert alert-info" style="text-align:center">
                            <strong>CONSULTANT NAME</strong>
                            <br />
                            October 2018 - November 2019
                        </div>
                    </div>

                    <div class="table-responsive" style="height: 430px">
                        <table class="table table-striped table-bordered mb-none table-font">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th><b>DATE WORKED</b></th>
                                    <th><b>HOURS WORKED</b></th>
                                    <th><b>PROJECT</b></th>
                                    <th><b>TASK DESCRIPTION</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int i = 1;}
                                @foreach (var item in Model.TimesheetDetail)
                                {
                                    <tr>
                                        <td>
                                            <span>@i.</span>
                                        </td>
                                        <td>
                                            @item.DateFilled
                                        </td>
                                        <td>
                                            @item.HoursWorked
                                        </td>
                                        <td>
                                            @item.Project.ProjectDescription
                                        </td>
                                        <td>
                                            @item.TaskDescription
                                        </td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                    <hr />
                    <form asp-action="ApproveTimesheet" asp-controller="Timesheet" method="post">

                        <input asp-for="HeaderID" name="HeaderID" type="hidden" class="form-control">
                        <div style="float: left;">
                            <button type="submit" class="mb-xs mt-xs mr-xs btn btn-lg btn-success">Approve &nbsp;<i class="fa fa-check"></i></button>
                        </div>
                        <div style="float: right;">
                            @{
                                int HeaderId = Model.HeaderID;
                                <input asp-for="HeaderID" name="HeaderID" type="hidden" class="form-control">
                                <a class="mb-xs mt-xs mr-xs btn btn-lg btn-danger" asp-action="RejectTimesheet" asp-controller="Timesheet" asp-route-id="@HeaderId">
                                    Reject &nbsp;&nbsp;<i class="fa fa-exclamation-triangle"></i>
                                </a>
                            }

                            
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</section>
