﻿@model DP_TIMESHEET_MIS.Models.ViewModels.Timesheet.EditTimesheetViewModel;

@{
    Layout = "_LayoutMain";
    ViewData["Title"] = "Timesheet";
}

@{ 
    var Position = Model.Position;
}
<section role="main" class="content-body" style="height: 430px">
    <header class="page-header">
        <h2>Timesheet</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Timesheet</span></li>
                <li><span>Edit </span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <!-- start: page -->
    <div class="row">
        <form id="Timesheet" asp-action="EditTimesheet" asp-controller="Timesheet" method="post" class="form-horizontal">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title">Edit Timesheet</h2>
                    <p class="panel-subtitle">
                        Please update the required details to update your timesheet
                    </p>
                </header>
                <div class="panel-body">

                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            @Html.ValidationMessage("TimesheetError")
                        </div>
                    }
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Period</label>
                                <div class="col-sm-6">
                                    <select class="form-control" asp-for="Period" name="Period"
                                            asp-items="@(new SelectList(Model.PeriodList, "PeriodId", "PeriodDescription"))">
                                        <option value="">Please Select One</option>
                                    </select>
                                </div>
                                <span asp-validation-for="Period" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Project</label>
                                <div class="col-sm-6">
                                    <select class="form-control" asp-for="Project" name="Project"
                                            asp-items="@(new SelectList(Model.ProjectList, "ProjectId", "ProjectName"))">
                                        <option value="">Please Select One</option>
                                    </select>
                                </div>
                                <span asp-validation-for="Project" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Date</label>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                        <input asp-for="DateFilled" type="text" data-plugin-datepicker="" class="form-control">
                                    </div>
                                </div>
                                <span asp-validation-for="DateFilled" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Position</label>
                                <div class="col-sm-6">
                                    <select class="form-control" asp-for="Position" name="Position"
                                            asp-items="@(new SelectList(Model.PositionList, "PositionId", "PositionName"))">
                                        <option value="">Please Select One</option>
                                    </select>
                                </div>
                                <span asp-validation-for="Position" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Hours Worked</label>
                                <div class="col-sm-6">
                                    <div data-plugin-spinner>
                                        <div class="input-group input-small">
                                            <input asp-for="HoursWorked" type="text" class="spinner-input form-control" value="8" readonly="readonly">
                                            <div class="spinner-buttons input-group-btn btn-group-vertical">
                                                <button type="button" class="btn spinner-up btn-xs btn-default">
                                                    <i class="fa fa-angle-up"></i>
                                                </button>
                                                <button type="button" class="btn spinner-down btn-xs btn-default">
                                                    <i class="fa fa-angle-down"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span asp-validation-for="HoursWorked" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Location</label>
                                <div class="col-sm-6">
                                    <input asp-for="Location" type="text" class="form-control" placeholder="Location" id="Location">
                                </div>
                                <span asp-validation-for="Location" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Task Description</label>
                                <div class="col-sm-6">
                                    <input asp-for="TaskDescription" type="text" class="form-control" placeholder="Task Description" id="TaskDescription">
                                </div>
                                <span asp-validation-for="TaskDescription" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="panel-footer">
                    <button type="submit" class="btn btn-primary"> Submit</button>
                    <a class="btn btn-default"> Cancel</a>

                </footer>
            </section>
        </form>
    </div>
    <!-- end: page -->
</section>
@section Scripts
{
<script>
    $(document).ready(function () {

    });
</script>
}