﻿@model DP_TIMESHEET_MIS.Models.ViewModels.Timesheet.SearchTimesheetViewModel

@{
    ViewData["Title"] = "Search Timesheet";
}

@{
    var Count = 0;
    if (Model.TimeSheetHeader != null)
    {
        Count = @Model.TimeSheetHeader.Count();
    }
}

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Timesheet</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Search</span></li>
                <li><span>Timesheet</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title">Search Timesheet</h2>
                    <p class="panel-subtitle">
                        Please supply filter parameters.
                    </p>
                </header>
                <div class="panel-body">
                    @{
                        var msg = @TempData["TimesheetCompleteMsg"];
                        var msg_save = @TempData["SaveTimesheetMsg"];
                        if (msg != null)
                        {
                            <div class="alert alert-danger">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <p>@msg</p>
                            </div>
                        }
                        if (msg_save != null)
                        {
                            <div class="alert alert-success">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <p>@msg_save</p>
                            </div>
                        }
                    }
                    <form id="SearchTimesheet" asp-action="SearchTimesheet" asp-controller="Timesheet" class="form-inline">
                        <div class="form-group">
                            <div class="col-sm-6">
                                <input asp-for="ConsultantName" type="text" class="form-control" id="ConsultantName" placeholder="Enter Consultant Name(s)">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <select class="form-control" asp-for="Period" name="Period"
                                        asp-items="@(new SelectList(Model.PeriodList, "PeriodId", "PeriodDescription"))">
                                    <option value="">Select Period</option>
                                </select>
                            </div>
                        </div>

                        <div class="visible-sm clearfix mt-sm mb-sm"></div>

                        <div class="clearfix visible-xs mb-sm"></div>

                        <button id="Search" type="submit" class="btn btn-info">Search &nbsp;<i class="fa fa-search"></i></button>
                        <button id="Reset" type="reset" class="btn btn-default">Reset &nbsp;<i class="fa fa-refresh"></i></button>
                        &nbsp;&nbsp;&nbsp;&nbsp;

                        <a asp-action="NewTimesheet" asp-controller="Timesheet" class="btn btn-primary"><i class="fa fa-plus"></i> Create New</a>


                    </form>

                    <hr />
                    <p class="text-info">
                        Found @Count Record(s)
                    </p>
                    @if (@Count.Equals(0))
                    {
                        <div style="text-align:center">
                            <p class=".text-dark">
                                <h5>No records to display</h5>

                            </p>
                        </div>
                    }
                    else
                    {
                        <div class="table-responsive" style="height: 430px">
                            <table class="table table-bordered mb-none">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th><b>NAME</b></th>
                                        <th><b>PERIOD</b></th>
                                        <th><b>STATUS</b></th>
                                        <th><b>ACTIONS</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{int i = 1;}
                                    @foreach (var item in Model.TimeSheetHeader)
                                    {
                                        <tr>
                                            <td>
                                                <span>@i.</span>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Consultant.ConsultantName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Period.PeriodDescription)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TimesheetStatus)
                                            </td>
                                            <td>
                                                <div class="btn-group">
                                                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bars">&nbsp;</i> &nbsp;Actions <span class="caret"></span></button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        @{
                                                            <li>
                                                                <a asp-action="ViewTimesheet" asp-controller="Timesheet" asp-route-id="@item.HeaderId"> View &nbsp;<i class="fa fa-eye-slash"></i></a>
                                                            </li>
                                                            if (item.TimesheetStatus == "Pending")
                                                            {
                                                                <li class="divider"></li>
                                                                <li>
                                                                    <a asp-action="ApproveTimesheet" asp-controller="Timesheet" asp-route-id="@item.HeaderId"> Approve &nbsp;<i class="fa fa-check-square-o"></i></a>
                                                                </li>
                                                            }

                                                            if (item.TimesheetStatus == "Rejected")
                                                            {
                                                                <li>
                                                                    <a asp-action="ApproveTimesheet" asp-controller="Timesheet"> Delete &nbsp;<i class="fa fa-exclamation"></i></a>
                                                                </li>
                                                            }

                                                            if (item.TimesheetStatus == "Incomplete")
                                                            {
                                                                <li>
                                                                    <a asp-action="SearchTimesheetDetails" asp-controller="Timesheet" asp-route-id="@item.HeaderId"> Edit &nbsp;<i class="fa fa-edit"></i></a>
                                                                </li>
                                                                <li>
                                                                    <a class="mb-xs mt-xs mr-xs modal-basic" href="#modalPrimary">Delete &nbsp;<i class="fa fa-trash-o"></i></a>
                                                                    <div id="modalPrimary" class="modal-block modal-block-primary mfp-hide">
                                                                        <section class="panel">
                                                                            <header class="panel-heading">
                                                                                <h2 class="panel-title">Are you sure?</h2>
                                                                            </header>
                                                                            <div class="panel-body">
                                                                                <div class="modal-wrapper">
                                                                                    <div class="modal-icon">
                                                                                        <i class="fa fa-question-circle"></i>
                                                                                    </div>
                                                                                    <div class="modal-text">
                                                                                        <h4>Confirm</h4>
                                                                                        <p>Are you sure that you want to delete this record?</p>
                                                                                        <input type="hidden" id="HeaderId" name="DetailId" value="@item.HeaderId">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <footer class="panel-footer">
                                                                                <div class="row">
                                                                                    <div class="col-md-12 text-right">
                                                                                        <button id="ConfirmDelete" class="btn btn-primary modal-confirm">Confirm</button>
                                                                                        <button id="CancelDelete" class="btn btn-default modal-dismiss">Cancel</button>
                                                                                    </div>
                                                                                </div>
                                                                            </footer>
                                                                        </section>
                                                                    </div>
                                                                </li>
                                                            }
                                                        }
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </section>
        </div>
    </div>
</section>
@section Scripts
    {
    <script type="text/javascript">

        $("#Reset").click(function () {
            $('#ConsultantName').val('');
            $('#Period').val('');
        });

        $("#ConfirmDelete").click(function () {
            var HeaderId = $('#HeaderId').val();
            // var HeaderId = $('#HeaderId').val();
            $.ajax({
                url: window.location.href = '@Url.Action("DeleteTimesheet", "Timesheet")/' + HeaderId,
                data: {
                    id: id
                }
            }).done(function () {
            });
        })

    </script>
}