﻿@model DP_TIMESHEET_MIS.Models.ViewModels.Timesheet.SearchTimesheetDetailViewModel

@{
    ViewData["Title"] = "View Timesheet Details";
}


<section role="main" class="content-body">
    <header class="page-header">
        <h2>Timesheet</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>View</span></li>
                <li><span>Timesheet Details</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>
    <div class="row">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <a href="#" class="fa fa-times"></a>
                </div>

                <h2 class="panel-title">Edit Timesheet Details</h2>
                <p class="panel-subtitle">
                    Please select the timesheet to edit.
                </p>
            </header>
            <div class="panel-body">
                <div class="table-responsive" style="height: 430px">
                    <table class="table table-bordered table-hover mb-none">
                        <thead>
                            <tr>
                                <th></th>
                                <th><b>DATE</b></th>
                                <th><b>HOURS WORKED</b></th>
                                <th><b>PROJECT</b></th>
                                <th><b>POSITION</b></th>
                                <th><b>LOCATION</b></th>
                                <th><b>ACTIONS</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int i = 1;}
                            @foreach (var item in Model.TimeSheetDetail)
                            {
                                <tr>
                                    <td>
                                        <span>@i.</span>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateFilled)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HoursWorked)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Project.ProjectName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Position.PositionName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Location)
                                    </td>
                                    <td>
                                        @{
                                            var DetailId = item.Id;
                                            // var HeaderId = item.Header.HeaderId;
                                            <a asp-action="EditTimesheet" asp-controller="Timesheet" asp-route-id="@DetailId" class="btn btn-primary"> Edit &nbsp;<i class="fa fa-edit"></i></a>
                                            
                                            <a class="mb-xs mt-xs mr-xs modal-basic btn btn-danger" href="#modalPrimary">Delete &nbsp;<i class="fa fa-trash-o"></i></a>
                                            <div id="modalPrimary" class="modal-block modal-block-primary mfp-hide">
                                                <section class="panel">
                                                    <header class="panel-heading">
                                                        <h2 class="panel-title">Are you sure?</h2>
                                                    </header>
                                                    <div class="panel-body">
                                                        <div class="modal-wrapper">
                                                            <div class="modal-icon">
                                                                <i class="fa fa-question-circle"></i>
                                                            </div>
                                                            <div class="modal-text">
                                                                <h4>Confirm</h4>
                                                                <p>Are you sure that you want to delete this record?</p>
                                                                <input type="hidden" id="DetailId" name="DetailId" value="@DetailId">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <footer class="panel-footer">
                                                        <div class="row">
                                                            <div class="col-md-12 text-right">
                                                                <button id="ConfirmDelete" class="btn btn-primary modal-confirm">Confirm</button>
                                                                <button id="CancelDelete" class="btn btn-default modal-dismiss">Cancel</button>
                                                            </div>
                                                        </div>
                                                    </footer>
                                                </section>
                                            </div>

                                            //<a asp-action="DeleteTimesheet" asp-controller="Timesheet" asp-route-id="@DetailId" class="btn btn-danger"> Delete &nbsp;<i class="fa fa-trash-o"></i></a>
                                        }
                                    </td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </section>
    </div>
</section>


@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {

        });

        $("#ConfirmDelete").click(function () {
            var DetailId = $('#DetailId').val();
            // var HeaderId = $('#HeaderId').val();
            $.ajax({
                url: window.location.href = '@Url.Action("DeleteTimesheetDetail", "Timesheet")/' + DetailId,
                data: {
                    id: id
                }
            }).done(function () {
            });
        })
    </script>
}