﻿@*@model IEnumerable<DP_TIMESHEET_MIS.Models.TimeSheetDetailModel>*@
@model DP_TIMESHEET_MIS.Models.ViewModels.Timesheet.ViewTimesheetViewModel
@{
    ViewData["Title"] = "View Timesheet";
}


<section role="main" class="content-body">
    <header class="page-header">
        <h2>Timesheet</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Timesheet</span></li>
                <li><span>View</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title">View Timesheet</h2>
                    <p class="panel-subtitle">
                        Please view the open timesheet.
                    </p>
                </header>
                <div class="panel-body">
                    <div>
                        <div class="alert alert-info" style="text-align:center">
                            <strong>CONSULTANT NAME</strong>
                            <br />
                            October 2018 - November 2019
                        </div>
                    </div>

                    <div class="table-responsive" style="height: 430px">
                        <table class="table table-striped table-bordered mb-none table-font">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th><b>DATE WORKED</b></th>
                                    <th><b>HOURS WORKED</b></th>
                                    <th><b>PROJECT</b></th>
                                    <th><b>TASK DESCRIPTION</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int i = 1;}
                                @foreach (var item in Model.TimesheetDetail)
                                {
                                    <tr>
                                        <td>
                                            <span>@i.</span>
                                        </td>
                                        <td>
                                            @item.DateFilled
                                        </td>
                                        <td>
                                            @item.HoursWorked
                                        </td>
                                        <td>
                                            @item.Project.ProjectDescription
                                        </td>
                                        <td>
                                            @item.TaskDescription
                                        </td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                    <hr />
                    <div style="float: left;">
                        <a class="mb-xs mt-xs mr-xs btn btn-lg btn-default" asp-action="SearchTimesheet" asp-controller="Timesheet"> Back &nbsp;<i class="fa fa-mail-reply "></i></a>

                    </div>
                    <div style="float: right;">
                        <a class="mb-xs mt-xs mr-xs btn btn-lg btn-default" asp-action="SearchTimesheet" asp-controller="Timesheet"> Print &nbsp;<i class="fa fa-print"></i></a>

                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
