﻿@model DP_TIMESHEET_MIS.Models.ViewModels.Account.ForgotPasswordViewModel;

@{
    Layout = "_LayoutAccount";
    ViewData["Title"] = "Forgot Password";
}

<!-- start: page -->
<section class="body-sign">
    <div class="center-sign">

       
        <div class="panel panel-sign">
            <div class="panel-title-sign mt-xl text-right">
                <h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i> Forgot Password</h2>
            </div>
            <div class="panel-body">

                <p class="text-primary">
                    <b>Please provide a new password and confirm password to get a new password</b>
                </p>
                <form asp-controller="Account" asp-action="ForgotPassword" method="post">
                    <div class="form-group mb-lg">
                        <div class="clearfix">
                            <label class="pull-left">Enter Password Sent To Email</label>
                        </div>
                        <div class="input-group input-group-icon">
                            <input asp-for="PasswordSent" name="PasswordSent" type="password" class="form-control input-lg"/>
                            <span class="input-group-addon">
                                <span class="icon icon-lg">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </span>
                        </div>
                        <span asp-validation-for="PasswordSent" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-lg">
                        <div class="clearfix">
                            <label class="pull-left">New Password</label>
                        </div>
                        <div class="input-group input-group-icon">
                            <input asp-for="NewPassword" name="NewPassword" type="password" class="form-control input-lg"/>
                            <span class="input-group-addon">
                                <span class="icon icon-lg">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </span>
                        </div>
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-lg">
                        <div class="clearfix">
                            <label class="pull-left">Confirm New Password</label>
                        </div>
                        <div class="input-group input-group-icon">
                            <input asp-for="ConfirmNewPassword" name="ConfirmNewPassword" type="password" class="form-control input-lg" />
                            <span class="input-group-addon">
                                <span class="icon icon-lg">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </span>
                        </div>
                        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary"> Submit</button>
                        <a class="btn btn-default"> Cancel</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
<!-- end: page -->
