﻿@model DP_TIMESHEET_MIS.Models.ViewModels.Account.LoginViewModel;

@{
    Layout = "_LayoutAccount";
    ViewData["Title"] = "Login";
}

<!-- start: page -->
<section class="body-sign">
    <div class="center-sign">

        <div class="panel panel-sign">
            <div class="panel-title-sign mt-xl text-right">
                <h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i> Please Login</h2>
            </div>
            <div class="panel-body">

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        @Html.ValidationMessage("LoginError")
                    </div>
                }


                    <form asp-controller="Account" asp-action="LoginAsync" method="post">
                        @Html.AntiForgeryToken()
                        <div class="form-group mb-lg">
                            <label>Username</label>
                            <div class="input-group input-group-icon">
                                <input asp-for="UserName" name="username" type="text" class="form-control input-lg" />
                                <span class="input-group-addon">
                                    <span class="icon icon-lg">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </span>
                            </div>
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-lg">
                            <div class="clearfix">
                                <label class="pull-left">Password</label>
                                <a asp-action="ForgotPassword" asp-controller="Account" class="pull-right">Lost Password?</a>
                            </div>
                            <div class="input-group input-group-icon">
                                <input asp-for="Password" name="password" type="password" class="form-control input-lg" />
                                <span class="input-group-addon">
                                    <span class="icon icon-lg">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                </span>
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="row">
                            <div class="col-sm-8">
                                <div class="checkbox-custom checkbox-default">
                                    <input asp-for="RememberMe" id="RememberMe" name="RememberMe" type="checkbox" />
                                    <label for="RememberMe">Remember Me</label>
                                </div>
                            </div>
                            <div class="col-sm-4 text-right">
                                <button type="submit" class="btn btn-primary hidden-xs" asp-action="Login" asp-controller="Account"> Log In</button>
                                <button type="submit" class="btn btn-primary btn-block visible-xs mt-lg" asp-action="Login" asp-controller="Account"> Log In</button>
                            </div>
                        </div>
                        <br />

                        <p>Don't have an account yet? <a role="menuitem" tabindex="-1" asp-action="Register" asp-controller="Account"> Register!</a>
                    </form>
            </div>
        </div>
    </div>
</section>
<!-- end: page -->
