﻿@model DP_TIMESHEET_MIS.Models.ViewModels.Account.ManageUserViewModel

@{
    ViewData["Title"] = "Manage Roles";
}

<section role="main" class="content-body" style="height: 430px">
    <header class="page-header">
        <h2>Manage Roles</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Security</span></li>
                <li><span>Manage Roles</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <!-- start: page -->
    <div class="row">
        <section class="panel">

            <form id="ManageRole" class="form-horizontal" asp-action="ManageRole" asp-controller="Account" method="post">
                <input asp-for="UserID" name="HeaderID" type="hidden" class="form-control">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title">Manage Roles</h2>
                    <p class="panel-subtitle">
                        Please assign roles
                    </p>
                </header>
                <div class="panel-body">
                    @{
                        int UserID = Model.UserID;
                        <input asp-for="UserID" name="UserID" type="text" value="@UserID" class="form-control">
                    }

                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            @Html.ValidationMessage("ManageRoleError")
                        </div>
                    }
                    <div class="row">
                        <div class="col-md-6" style="padding-left: 5em">
                            <div class="form-group">
                                <ul class="list-group">
                                    <li class="list-group-item"><strong><h7>CONSULTANT NAME</h7></strong></li>
                                    <li class="list-group-item"><strong><h7><code>Current Roles</code></h7></strong></li>
                                    @if (Model.RoleNames == null || Model.RoleNames.Count == 0)
                                    {
                                        <li class="list-group-item">No Roles Assigned</li>
                                    }
                                    else
                                    {
                                        @foreach (var item in Model.RoleNames)
                                        {
                                            <li class="list-group-item">@item.ToString()</li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Select Roles</label>
                                <div class="col-sm-8">
                                    <div class="input-group btn-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-users"></i>
                                        </span>
                                        <select class="form-control" multiple="multiple" data-plugin-multiselect=""
                                                asp-for="Roles" name="Roles" id="Roles" style="display: none;"
                                                asp-items="@(new SelectList(Model.UserSystemRolesList, "Id", "RoleName"))">
                                            <option value="">Please Select </option>
                                        </select>
                                    </div>
                                    <span asp-validation-for="Roles" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <footer class="panel-footer">
                    <button type="submit" class="btn btn-primary"> Submit</button>
                    <a class="btn btn-default"> Cancel</a>

                </footer>
            </form>
        </section>
    </div>

    <!-- end: page -->
</section>