﻿@model DP_TIMESHEET_MIS.Models.ViewModels.Account.NewUserAccountViewModel;

@{
    Layout = "_LayoutAccount";
    ViewData["Title"] = "New User Account";
}

<!-- start: page -->
<section class="body-sign">
    <div class="center-sign">

       
        <div class="panel panel-sign">
            <div class="panel-title-sign mt-xl text-right">
                <h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i> Create Account</h2>
            </div>
            <div class="panel-body">
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        @Html.ValidationMessage("NewUserAccountError")
                    </div>
                }

                <p class="text-primary">
                    <b>Please provide a username and a password to create your account</b>
                </p>
                <form asp-controller="Account" asp-action="NewUserAccount" method="post">
                    <div class="form-group mb-lg">
                        <label>Username</label>
                        <div class="input-group input-group-icon">
                            <input asp-for="UserName" name="username" type="text" class="form-control" />
                            <span class="input-group-addon">
                                <span class="icon icon-lg">
                                    <i class="fa fa-user"></i>
                                </span>
                            </span>
                        </div>
                        <span asp-validation-for="UserName" class="text-danger"></span>

                    </div>

                    <div class="form-group mb-lg">
                        <div class="clearfix">
                            <label class="pull-left">Password</label>
                        </div>
                        <div class="input-group input-group-icon">
                            <input asp-for="Password" name="Password" type="password" class="form-control" />
                            <span class="input-group-addon">
                                <span class="icon icon-lg">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </span>
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-lg">
                        <div class="clearfix">
                            <label class="pull-left">Confirm Password</label>
                        </div>
                        <div class="input-group input-group-icon">
                            <input asp-for="ConfirmPassword" name="ConfirmPassword" type="password" class="form-control" />
                            <span class="input-group-addon">
                                <span class="icon icon-lg">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </span>
                        </div>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div>
                        <input asp-for="Consultant" name="Consultant" type="hidden" value="@TempData["PrimaryKey"]" class="form-control" />
                    </div>
                    <br />
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary"> Submit</button>
                        <a class="btn btn-default"> Cancel</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
<!-- end: page -->
