﻿@model DP_TIMESHEET_MIS.Models.ViewModels.Account.RegisterViewModel;

@{
    Layout = "_LayoutAccount";
    ViewData["Title"] = "Register";
}


<section class="body-sign">
    <div class="center-sign">

        <div class="panel panel-sign">
            <div class="panel-title-sign mt-xl text-right">
                <h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i> Register</h2>
            </div>
            <div class="panel-body">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            @Html.ValidationMessage("RegisterError")
                        </div>
                    }

                        <p class="text-primary">
                            <b>Please provide the following required details to register</b> 
                        </p>

                        <form id="Register" asp-controller="Account" asp-action="Register" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label><b>First Name</b></label>
                                <input asp-for="FirstName" name="FirstName" type="text" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label><b>Other Names</b></label>
                                <input asp-for="OtherNames" name="OtherNames" type="text" class="form-control" />
                                <span asp-validation-for="OtherNames" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label><b>Email</b></label>
                                <input asp-for="Email" name="Email" type="email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label><b>Consultant Type</b></label>
                                <select class="form-control input-sm mb-md" asp-for="ConsultantType" name="ConsultantType"
                                        asp-items="@(new SelectList(Model.WorkTypeList, "WorkTypeId", "WorkTypeName"))">
                                    <option value="">Please Select One</option>
                                </select>
                                <span asp-validation-for="ConsultantType" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label><b>Contract Start Date</b></label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input asp-for="ContractStartDate" name="ContractStartDate" type="text" data-plugin-datepicker="" value="" class="form-control">
                                </div>
                                <span asp-validation-for="ContractStartDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label><b>Contract End Date</b></label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input asp-for="ContractEndDate" name="ContractEndDate" type="text" data-plugin-datepicker="" value="" class="form-control">
                                </div>
                                <span asp-validation-for="ContractEndDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label><b>Signature</b></label>
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="input-append">
                                        <div class="uneditable-input">
                                            <i class="fa fa-file fileupload-exists"></i>
                                            <span class="fileupload-preview"></span>
                                        </div>
                                        <span class="btn btn-default btn-file">
                                            <span class="fileupload-exists">Change</span>
                                            <span class="fileupload-new">Select ...</span>
                                            <input id="files" asp-for="ConsultantSignature" type="file">
                                        </span>
                                        <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
                                    </div>
                                </div>
                                <span asp-validation-for="ConsultantSignature" class="text-danger"></span>
                            </div>
                            <br />
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary"> Submit</button>
                                <a class="btn btn-default" asp-action="Login" asp-controller="Account"> Cancel</a>
                            </div>

                        </form>
            </div>
        </div>
    </div>
</section>
