﻿@model DP_TIMESHEET_MIS.Models.ViewModels.Account.SearchUserViewModel

@{
    ViewData["Title"] = "Search Timesheet";
}
<section role="main" class="content-body">
    <header class="page-header">
        <h2>Search User</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Search</span></li>
                <li><span>Users</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title">Search Users</h2>
                    <p class="panel-subtitle">
                        Please supply email address.
                    </p>
                </header>
                <div class="panel-body">
                    @{
                        if (TempData["message"] != null)
                        {
                            <div class="alert alert-success">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                @TempData["message"]
                            </div>
                        }
                    }

                    <form class="form-inline" asp-action="SearchUser" asp-controller="Account" method="post">
                        <div class="form-group">
                            <input asp-for="Email" type="email" class="form-control" id="Email" placeholder="Email Address">
                        </div>

                        <button type="submit" class="btn btn-info">Search &nbsp;<i class="fa fa-search"></i></button>
                    </form>
                    <br />
                    <span asp-validation-for="Email" class="text-danger"></span>


                    @{
                        if (Model != null)
                        {
                            if (Model.Users != null)
                            {
                                <hr />

                                <p class="text-info">
                                    Found @Model.Users.Count() Record(s)
                                </p>
                                <br />

                                <div class="table-responsive" style="height: 430px">
                                    <table class="table table-bordered mb-none">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th><b>NAME</b></th>
                                                <th><b>EMAIL</b></th>
                                                <th><b>ACTIONS</b></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{int i = 1;}
                                            @foreach (var item in Model.Users)
                                            {
                                                <tr>
                                                    <td>
                                                        <span>@i.</span>
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Consultant.ConsultantName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Consultant.Email)
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-primary" asp-action="ManageRole" asp-controller="Account" asp-route-id="@item.UserId">
                                                            Manage Role &nbsp;<i class="fa fa-users"></i>
                                                        </a>

                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            else
                            {
                                <div style="text-align:center">
                                    <p class=".text-dark">
                                        <h5>No records to display</h5>
                                    </p>
                                </div>
                            }
                        }
                    }
                </div>
            </section>
        </div>
    </div>
</section>
