﻿@model DP_TIMESHEET_MIS.Models.ViewModels.Home.MainViewModel
@{
    String Roles = Model.SessionData[3];
    List<string> UserRoles = Roles.Split(',').ToList<string>();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <environment include="Development">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="~/octopus/vendor/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/octopus/vendor/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/octopus/vendor/magnific-popup/magnific-popup.css" />
        <link rel="stylesheet" href="~/octopus/vendor/bootstrap-datepicker/css/datepicker3.css" />
        <link rel="stylesheet" href="~/octopus/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css" />
        <link rel="stylesheet" href="~/octopus/vendor/bootstrap-multiselect/bootstrap-multiselect.css" />
        <link rel="stylesheet" href="~/octopus/vendor/morris/morris.css" />
        <link rel="stylesheet" href="~/octopus/vendor/pnotify/pnotify.custom.css" />
        <link rel="stylesheet" href="~/octopus/stylesheets/theme.css" />
        <link rel="stylesheet" href="~/octopus/stylesheets/skins/default.css" />
        <link rel="stylesheet" href="~/octopus/stylesheets/theme-custom.css">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <section class="body">
        <!-- start: header -->
        <header class="header">
            <div class="logo-container">
                <a href="../" class="logo">
                    <img src="~/images/dp_logo.png" height="35" alt="JSOFT Admin" />

                </a>
                <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                    <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>

            <span class="separator"></span>
            <span style="color:darkblue;font-family:'Tw Cen MT'"> <b>DEVELOPMENT PATHWAYS TIMESHEET MANAGEMENT SYSTEM</b></span>

            <!-- start: search & user box -->
            <div class="header-right">

                <form action="pages-search-results.html" class="search nav-form"></form>

                <span class="separator"></span>

                <ul class="notifications">
                    <li>
                        <a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
                            <i class="fa fa-bell"></i>
                            <span class="badge">3</span>
                        </a>

                        <div class="dropdown-menu notification-menu">
                            <div class="notification-title">
                                <span class="pull-right label label-default">3</span>
                                Alerts
                            </div>

                            <div class="content">
                                <ul>
                                    <li>
                                        <a href="#" class="clearfix">
                                            <div class="image">
                                                <i class="fa fa-thumbs-down bg-danger"></i>
                                            </div>
                                            <span class="title">Server is Down!</span>
                                            <span class="message">Just now</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="clearfix">
                                            <div class="image">
                                                <i class="fa fa-lock bg-warning"></i>
                                            </div>
                                            <span class="title">User Locked</span>
                                            <span class="message">15 minutes ago</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="clearfix">
                                            <div class="image">
                                                <i class="fa fa-signal bg-success"></i>
                                            </div>
                                            <span class="title">Connection Restaured</span>
                                            <span class="message">10/10/2014</span>
                                        </a>
                                    </li>
                                </ul>

                                <hr />

                                <div class="text-right">
                                    <a href="#" class="view-more">View All</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

                <span class="separator"></span>

                <div id="userbox" class="userbox">
                    <a href="#" data-toggle="dropdown">
                        <figure class="profile-picture">
                            <img src="~/octopus/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle" data-lock-picture="assets/images/!logged-user.jpg" />
                        </figure>
                        <div class="profile-info" data-lock-name="" data-lock-email="">
                            <span class="name">@Model.SessionData[2]</span>
                            <span class="role">@Model.SessionData[1]</span>

                        </div>

                        <i class="fa custom-caret"></i>
                    </a>

                    <div class="dropdown-menu">
                        <ul class="list-unstyled">
                            <li class="divider"></li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="pages-user-profile.html"><i class="fa fa-user"></i> My Profile</a>
                            </li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="#" data-lock-screen="true"><i class="fa fa-lock"></i> Lock Screen</a>
                            </li>
                            <li>
                                <a role="menuitem" tabindex="-1" asp-action="Login" asp-controller="Account"><i class="fa fa-power-off"></i> Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end: search & user box -->
        </header>
        <!-- end: header -->

        <div class="inner-wrapper">
            <!-- start: sidebar -->
            <aside id="sidebar-left" class="sidebar-left">

                <div class="sidebar-header">
                    <div class="sidebar-title">
                        Navigation
                    </div>
                    <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                        <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                    </div>
                </div>

                <div class="nano">
                    <div class="nano-content">
                        <nav id="menu" class="nav-main" role="navigation">
                            <ul class="nav nav-main">
                                @if (UserRoles.Contains("2"))
                                {
                                    <li class="nav-active">
                                        <a asp-action="Index" asp-controller="Home">
                                            <i class="fa fa-home" aria-hidden="true"></i>
                                            <span>Dashboard</span>
                                        </a>
                                    </li>
                                }
                                @if (UserRoles.Contains("1"))
                                {
                                    <li class="nav-main">
                                        <a asp-action="SearchTimesheet" asp-controller="Timesheet">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                            <span>Timesheet</span>
                                        </a>
                                    </li>
                                }

                                @if (UserRoles.Contains("3"))
                                {
                                    <li class="nav-main">
                                        <a asp-action="SearchUser" asp-controller="Account">
                                            <i class="fa fa-unlock" aria-hidden="true"></i>
                                            <span>Security</span>
                                        </a>
                                    </li>
                                    <li class="nav-parent">
                                        <a>
                                            <i class="fa fa-cog" aria-hidden="true"></i>
                                            <span>Administration</span>
                                        </a>
                                        <ul class="nav nav-children">
                                            <li>
                                                <a role="menuitem" tabindex="-1" asp-action="SystemSettings" asp-controller="Configuration"><i class="fa fa-gears"></i> System Settings</a>

                                            </li>
                                        </ul>
                                    </li>
                                }

                                @if (UserRoles.Contains("4"))
                                {
                                    <li class="nav-parent">
                                        <a>
                                            <i class="fa fa-book" aria-hidden="true"></i>
                                            <span>Reports</span>
                                        </a>
                                        <ul class="nav nav-children">
                                            <li>
                                                <a asp-action="GenerateReport" asp-controller="Report"><i class="fa fa-tasks"></i> Generate Report</a>

                                            </li>
                                        </ul>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>
                </div>
            </aside>

            @RenderBody()


        </div>
    </section>

    <div class="footer">
        <p style="font-family:'Tw Cen MT'">© 2018 Copyright | Licenced To Development Pathways Kenya Ltd</p>

    </div>

    <environment include="Development">
        <script src="~/octopus/vendor/modernizr/modernizr.js"></script>
        <script src="~/octopus/vendor/jquery/jquery.js"></script>
        <script src="~/octopus/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
        <script src="~/octopus/vendor/bootstrap/js/bootstrap.js"></script>
        <script src="~/octopus/vendor/nanoscroller/nanoscroller.js"></script>
        <script src="~/octopus/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script src="~/octopus/vendor/magnific-popup/magnific-popup.js"></script>
        <script src="~/octopus/vendor/jquery-placeholder/jquery.placeholder.js"></script>
        <script src="~/octopus/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>
        <script src="~/octopus/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
        <script src="~/octopus/vendor/jquery-appear/jquery.appear.js"></script>
        <script src="~/octopus/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
        <script src="~/octopus/vendor/jquery-easypiechart/jquery.easypiechart.js"></script>
        <script src="~/octopus/vendor/flot/jquery.flot.js"></script>
        <script src="~/octopus/vendor/flot-tooltip/jquery.flot.tooltip.js"></script>
        <script src="~/octopus/vendor/flot/jquery.flot.pie.js"></script>
        <script src="~/octopus/vendor/flot/jquery.flot.categories.js"></script>
        <script src="~/octopus/vendor/flot/jquery.flot.resize.js"></script>
        <script src="~/octopus/vendor/jquery-sparkline/jquery.sparkline.js"></script>
        <script src="~/octopus/vendor/raphael/raphael.js"></script>
        <script src="~/octopus/vendor/morris/morris.js"></script>
        <script src="~/octopus/vendor/gauge/gauge.js"></script>
        <script src="~/octopus/vendor/snap-svg/snap.svg.js"></script>
        <script src="~/octopus/vendor/liquid-meter/liquid.meter.js"></script>
        <script src="~/octopus/vendor/jqvmap/jquery.vmap.js"></script>
        <script src="~/octopus/vendor/jqvmap/data/jquery.vmap.sampledata.js"></script>
        <script src="~/octopus/vendor/jqvmap/maps/jquery.vmap.world.js"></script>
        <script src="~/octopus/vendor/jqvmap/maps/continents/jquery.vmap.africa.js"></script>
        <script src="~/octopus/vendor/jqvmap/maps/continents/jquery.vmap.asia.js"></script>
        <script src="~/octopus/vendor/jqvmap/maps/continents/jquery.vmap.australia.js"></script>
        <script src="~/octopus/vendor/jqvmap/maps/continents/jquery.vmap.europe.js"></script>
        <script src="~/octopus/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js"></script>
        <script src="~/octopus/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js"></script>
        <script src="~/octopus/vendor/fuelux/js/spinner.js"></script>
        <script src="~/octopus/vendor/pnotify/pnotify.custom.js"></script>
        <script src="~/octopus/javascripts/ui-elements/examples.modals.js"></script>
        <script src="~/octopus/javascripts/theme.js"></script>
        <script src="~/octopus/javascripts/theme.custom.js"></script>
        <script src="~/octopus/javascripts/theme.init.js"></script>
        <script src="~/octopus/javascripts/dashboard/examples.dashboard.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
