﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TIMESHEET MIS</title>

    <environment include="Development">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="~/octopus/vendor/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/octopus/vendor/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/octopus/vendor/magnific-popup/magnific-popup.css" />
        <link rel="stylesheet" href="~/octopus/vendor/bootstrap-datepicker/css/datepicker3.css" />
        <link rel="stylesheet" href="~/octopus/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css" />
        <link rel="stylesheet" href="~/octopus/vendor/bootstrap-multiselect/bootstrap-multiselect.css" />
        <link rel="stylesheet" href="~/octopus/vendor/bootstrap-fileupload/bootstrap-fileupload.min.css" />
        <link rel="stylesheet" href="~/octopus/vendor/morris/morris.css" />
        <link rel="stylesheet" href="~/octopus/vendor/bootstrap-fileupload/bootstrap-fileupload.min.css" />
        <link rel="stylesheet" href="~/octopus/stylesheets/theme.css" />
        <link rel="stylesheet" href="~/octopus/stylesheets/skins/default.css" />
        <link rel="stylesheet" href="~/octopus/stylesheets/theme-custom.css">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <section class="body">
        <!-- start: header -->
        <header class="header">
            <div class="logo-container">
                <a href="../" class="logo">
                    <img src="~/images/dp_logo.png" height="35" alt="JSOFT Admin" />
                </a>
                <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                    <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>

            <span class="separator"></span>
            <span style="color:darkblue;"> <b>DEVELOPMENT PATHWAYS TIMESHEET MANAGEMENT SYSTEM</b></span>

        </header>
        <!-- end: header -->
        @RenderBody()
    </section>


    <div class="footer">
        <p style="font-family:'Tw Cen MT'">© 2018 Copyright | Licenced To Development Pathways Kenya Ltd</p>
    </div>

    <environment include="Development">
        <script src="~/octopus/vendor/modernizr/modernizr.js"></script>
        <script src="~/octopus/vendor/jquery/jquery.js"></script>
        <script src="~/octopus/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
        <script src="~/octopus/vendor/bootstrap/js/bootstrap.js"></script>
        <script src="~/octopus/vendor/nanoscroller/nanoscroller.js"></script>
        <script src="~/octopus/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script src="~/octopus/vendor/magnific-popup/magnific-popup.js"></script>
        <script src="~/octopus/vendor/jquery-placeholder/jquery.placeholder.js"></script>
        <script src="~/octopus/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>
        <script src="~/octopus/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
        <script src="~/octopus/vendor/jquery-appear/jquery.appear.js"></script>
        <script src="~/octopus/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
        <script src="~/octopus/vendor/jquery-easypiechart/jquery.easypiechart.js"></script>
        <script src="~/octopus/vendor/flot/jquery.flot.js"></script>
        <script src="~/octopus/vendor/flot-tooltip/jquery.flot.tooltip.js"></script>
        <script src="~/octopus/vendor/flot/jquery.flot.pie.js"></script>
        <script src="~/octopus/vendor/flot/jquery.flot.categories.js"></script>
        <script src="~/octopus/vendor/flot/jquery.flot.resize.js"></script>
        <script src="~/octopus/vendor/jquery-sparkline/jquery.sparkline.js"></script>
        <script src="~/octopus/vendor/raphael/raphael.js"></script>
        <script src="~/octopus/vendor/morris/morris.js"></script>
        <script src="~/octopus/vendor/gauge/gauge.js"></script>
        <script src="~/octopus/vendor/snap-svg/snap.svg.js"></script>
        <script src="~/octopus/vendor/liquid-meter/liquid.meter.js"></script>
        <script src="~/octopus/vendor/jqvmap/jquery.vmap.js"></script>
        <script src="~/octopus/vendor/jqvmap/data/jquery.vmap.sampledata.js"></script>
        <script src="~/octopus/vendor/jqvmap/maps/jquery.vmap.world.js"></script>
        <script src="~/octopus/vendor/jqvmap/maps/continents/jquery.vmap.africa.js"></script>
        <script src="~/octopus/vendor/jqvmap/maps/continents/jquery.vmap.asia.js"></script>
        <script src="~/octopus/vendor/jqvmap/maps/continents/jquery.vmap.australia.js"></script>
        <script src="~/octopus/vendor/jqvmap/maps/continents/jquery.vmap.europe.js"></script>
        <script src="~/octopus/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js"></script>
        <script src="~/octopus/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js"></script>
        <script src="~/octopus/vendor/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
        <script src="~/octopus/javascripts/theme.js"></script>
        <script src="~/octopus/javascripts/theme.custom.js"></script>
        <script src="~/octopus/javascripts/theme.init.js"></script>
        <script src="~/octopus/javascripts/dashboard/examples.dashboard.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
